numpy>=1.24
pandas>=2.0
matplotlib>=3.7
scikit-learn>=1.3
xgboost>=2.0
joblib>=1.3
openpyxl>=3.1
pyarrow>=14.0
shap>=0.44
Thermobar>=1.0.35
quantile-forest>=1.3
scipy>=1.11
jupyter>=1.0
ipykernel>=6.25
tqdm>=4.66
papermill>=2.6
seaborn>=0.13
nbformat>=5.9
